
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    padding : 0.7em  0px; 
    font-size: medium;
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px ;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .error {
    font-size: smaller;
    margin: 4px 15px;
    color : red ; 
}


div select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}
  
  
  div select option {
    background-color: #fff;
    color: #333;
  }
  
  div select option:hover {
    background-color: #f0f0f0;
  }


.login-button {
  margin-top : 1rem  ; 
  margin-bottom : 1rem ; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #4285f4; 
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #3b79db; 
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

  